# local-development | local-e2e | pilot | production
PLANDECK_ENVIRONMENT=local-development

# Required for production.
Authentication__Microsoft__TenantId=
Authentication__Microsoft__ClientId=
Authentication__Microsoft__ClientSecret=
Authentication__Microsoft__CallbackPath=/signin-oidc
